<launch>

    <arg name="use_gazebo" default="true"/>


	<!-- Setup World Gazebo -->
    <include file="$(find rosbot_gazebo)/launch/maze_world.launch"/>
    
    <!-- Load the robot description parameters--> 
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosbot_description)/urdf/rosbot.xacro'"/>
    
    <group ns="rosbot1">
        <param name="tf_prefix" value="rosbot1"></param>
        <param name="map_merge/init_pose_x" value="0"></param>
        <param name="map_merge/init_pose_y" value="0"></param>
        <param name="map_merge/init_pose_z" value="0"></param>
        <param name="map_merge/init_pose_yaw" value="0"></param>

        <include file="$(find multi_rosbot_launch)/launch/one_bot.launch">
            <arg name="robot_name" value="rosbot1"/>
            <arg name="init_pose" value="-x 0 -y -0 -z 0"/>
        </include>

        <node name="movebase1" pkg="move_base" type="move_base" required="true" output="screen" >
            <!--param name="global_costmap/origin_x" value="-5"></param-->
            <!--param name="global_costmap/origin_y" value="-5"></param-->
            <!--param name="global_costmap/width" value="100"></param-->
            <!--param name="global_costmap/height" value="100"></param-->
        </node>
        <node name="Explore1" pkg="explore_lite" type="explore" required="true" output="screen" >
            <param name="robot_base_frame" value="base_link" />
            <param name="costmap_topic" value="/merged_map" />
            <param name="costmap_updates_topic" value="/merged_map_updates" />
        </node>
    </group>


    <group ns="rosbot2">
        <param name="tf_prefix" value="rosbot2"></param>
        <param name="map_merge/init_pose_x" value="-2"></param>
        <param name="map_merge/init_pose_y" value="-2"></param>
        <param name="map_merge/init_pose_z" value="0"></param>
        <param name="map_merge/init_pose_yaw" value="0"></param>

        <include file="$(find multi_rosbot_launch)/launch/one_bot.launch">
            <arg name="robot_name" value="rosbot2"/>
            <arg name="init_pose" value="-x -2.0 -y -2.0 -z 0"/>
        </include>

        <node name="movebase2" pkg="move_base" type="move_base" required="true" output="screen" >
            <!--param name="global_costmap/origin_x" value="-5"></param-->
            <!--param name="global_costmap/origin_y" value="-5"></param-->
            <!--param name="global_costmap/width" value="100"></param-->
            <!--param name="global_costmap/height" value="100"></param-->

        </node>

        <node name="Explore2" pkg="explore_lite" type="explore" required="true" output="screen" >
            <!--param name="robot_base_frame" value="base_link" /-->
            <!--param name="costmap_topic" value="/merged_map" /-->
            <param name="robot_base_frame" value="base_link" />
            <param name="costmap_topic" value="/merged_map" />
            <param name="costmap_updates_topic" value="/merged_map_updates" />
        </node>
    </group>

    <remap from="/merged_map" to="/rosbot1/movebase1/global_costmap/costmap" />
    <remap from="/merged_map_updates" to="/rosbot1/movebase1/global_costmap/costmap_updates" />
    <remap from="/merged_map" to="/rosbot2/movebase2/global_costmap/costmap" />
    <remap from="/merged_map_updates" to="/rosbot2/movebase2/global_costmap/costmap_updates" />

	<!-- Stuff we need either way-->
    <node name="rviz_overview" pkg="rviz" type="rviz" 
        args="-d $(find multi_rosbot_launch)/rviz/rviz_god_mode.rviz" 
        required="true" 
        output="log"/>
    
    <node name="graph" pkg="rqt_graph" type="rqt_graph"/>
    
    <include file="$(find multi_rosbot_launch)/launch/merge_maps.launch"> </include>
    <node pkg="tf" type="static_transform_publisher" name="maplink" args="-100 -100 0 0 0 0 map world 100"/>
</launch>

