<?xml version="1.0"?>
<launch>

    <arg name="use_gazebo" default="true"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find multi_rosbot_launch)/config/console.config"/>
    <env name="ROSCONSOLE_FORMAT" value='[${severity}] [${node}] [${time}]: ${message}'/>


	<!-- Setup World Gazebo -->
    <include file="$(find multi_rosbot_launch)/launch/challenge_maze.launch"/>
    
    <!-- Load the robot description parameters--> 
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find rosbot_description)/urdf/rosbot.xacro'"/>
    
    <group ns="rosbot1">
        <param name="tf_prefix" value="rosbot1"></param>
        <param name="map_merge/init_pose_x" value="0"></param>
        <param name="map_merge/init_pose_y" value="0"></param>
        <param name="map_merge/init_pose_z" value="0"></param>
        <param name="map_merge/init_pose_yaw" value="0"></param>

        <include file="$(find multi_rosbot_launch)/launch/one_bot.launch">
            <arg name="robot_name" value="rosbot1"/>
            <arg name="init_pose" value="-x 0 -y -0 -z 0"/>
        </include>`

        <node name="movebase" pkg="move_base" type="move_base" required="true" output="screen" >
            <param name="controller_frequency" value="10.0"/>
            <rosparam file="$(find multi_rosbot_launch)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find multi_rosbot_launch)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find multi_rosbot_launch)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find multi_rosbot_launch)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find multi_rosbot_launch)/config/trajectory_planner.yaml" command="load" />
            <param name="publish_cost_grid_pc" value="true" />
        </node>

        <node name="Explore1" pkg="explore_lite" type="explore" required="true" output="screen" >
            <param name="robot_base_frame" value="base_link" />
            <param name="costmap_topic" value="/merged_map" />
            <param name="costmap_updates_topic" value="/merged_map_updates" />
            <param name="track_unknown_space" value="true" />
            <param name="min_frontier_size" value="0.1"/>
        </node>

        <node name="relay_goal" pkg="topic_tools" type="relay" args="/move_base_simple/goal move_base_simple/goal">
            <param name="intopic" value="/move_base_simple/goal" />
            <param name="outtopic" value="move_base_simple/goal"/>
        </node>
    </group>


    <group ns="rosbot2">
        <param name="tf_prefix" value="rosbot2"></param>
        <param name="map_merge/init_pose_x" value="-2"></param>
        <param name="map_merge/init_pose_y" value="-2"></param>
        <param name="map_merge/init_pose_z" value="0"></param>
        <param name="map_merge/init_pose_yaw" value="0"></param>

        <include file="$(find multi_rosbot_launch)/launch/one_bot.launch">
            <arg name="robot_name" value="rosbot2"/>
            <arg name="init_pose" value="-x -2 -y -2 -z 0"/>
        </include>`

        <node name="movebase2" pkg="move_base" type="move_base" required="true" output="screen" >
            <param name="controller_frequency" value="10.0"/>
            <rosparam file="$(find multi_rosbot_launch)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find multi_rosbot_launch)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find multi_rosbot_launch)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find multi_rosbot_launch)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find multi_rosbot_launch)/config/trajectory_planner.yaml" command="load" />
            <param name="publish_cost_grid_pc" value="true" />
        </node>

        <node name="Explore2" pkg="explore_lite" type="explore" required="true" output="screen" >
            <param name="robot_base_frame" value="base_link" />
            <param name="costmap_topic" value="/merged_map" />
            <param name="costmap_updates_topic" value="/merged_map_updates" />
            <param name="track_unknown_space" value="true" />
            <param name="min_frontier_size" value="0.1" />
        </node>

        <node name="relay_goal2" pkg="topic_tools" type="relay" args="/move_base_simple/goal move_base_simple/goal">
            <param name="intopic" value="/move_base_simple/goal" />
            <param name="outtopic" value="move_base_simple/goal"/>
        </node>
    </group>
    
	<!-- Stuff we need either way-->
    <node name="rviz_overview" pkg="rviz" type="rviz" 
        args="-d $(find multi_rosbot_launch)/rviz/rviz_god_mode.rviz" 
        required="true" 
        output="log"/>
    
    <node name="graph" pkg="rqt_graph" type="rqt_graph"/>
    
    <include file="$(find multi_rosbot_launch)/launch/merge_maps.launch"> </include>
    <node pkg="tf" type="static_transform_publisher" name="maplink" args="-100 -100 0 0 0 0 map world 100"/>
</launch>

