<launch>
 <env name="ROSCONSOLE_FORMAT" value='[${severity}] [${node}] [${time}]: ${message}'/>

<node pkg="multi_rosbot_launch" type="rosbot1_serial_bridge.sh" name="bridge" output="screen"/>
<group ns="rosbot1">
    <param name="tf_prefix" value="rosbot1"></param>
    
    <include file="$(find astra_launch)/launch/astra.launch"></include>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"></include>
    
    <node pkg="tf" type="static_transform_publisher" name="ROSbot2_laser" args="0 0 0 3.14 0 0 base_link laser 10" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_baselink" args="0 0 0 0 0 0 /map /base_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="maplink" args="-100 -100 0 0 0 0 map world 100"/>
    
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="recovery_behavior_enabled" value="true"/>
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find multi_rosbot_launch)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find multi_rosbot_launch)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find multi_rosbot_launch)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find multi_rosbot_launch)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find multi_rosbot_launch)/config/trajectory_planner.yaml" command="load" />
    </node>
</group>

<include file="$(find multi_rosbot_launch)/launch/merge_maps.launch"> </include>

</launch>
